<table class="table">
  <tr>
    <th></th>
    <th>グループ名</th>
    <th>紹介文</th>
    <th></th>
  </tr>
  <tr>
    <% groups.each do |group| %>
      <td><%= image_tag group.get_group_image(50,50) %></td>
      <td>
        <%= link_to group_path(group) do %>
          <%= group.name %>
        <% end %>
      </td>
      <td><%= group.introduction %></td>
      <td>
        <% if group.owner_id == current_user.id %>
          <%= link_to 'edit', edit_group_path(group), class:"btn btn-success" %>
        <% end %>
      </td>
    <% end %>
  </tr>
</table>