 <%= image_tag user.get_profile_image(100, 100) %>
<table class="table mb-1">
  <tr>
    <th>Name</th>
    <td><%= user.name %></td>
  </tr>
  <tr>
    <th>introduction</th>
    <td><%= user.introduction %></td>
  </tr>
  <tr>
    <th>follows</th>
    <td>
      <%= link_to user_follows_path(user) do %>
        <%= user.followers.count %>
      <% end %>
    </td>
  </tr>
  <tr>
    <th>followers</th>
    <td>
      <%= link_to user_followers_path(user) do %>
       <%= user.followeds.count %>
      <% end %>
    </td>
  </tr>
</table>
