<h1>User info</h1>

<%= form_with model: @user do |f| %>
  <%= f.text_field :name, autofocus: true, placeholder:"name" %>
  <%= f.file_field :profile_image, placeholder:"profile_image", accept:"image/*" %>
  <%= f.text_area :introduction, placeholder:"introduction" %>
  <%= f.submit "submit" %>
<% end %>