<div class="container mt-3">
  
   <%= render 'layouts/error_messages', obj: @book %>
  
  <div class="row">
    
    <div class="col-md-3">
      <h1>User info</h1>
      <%= render 'info', user: @user %>
      <div class="d-flex mb-2">
        <%= render 'relationships/button', user: @user %>
        <%= render 'rooms/link', user: @user, room: @room, room_id: @room_id, entry: @entry, is_room: @is_room %>
      </div>
      <%= render 'config', user: @user %>
      
      <h1>New book</h1>
      <%= render 'books/form', book: @book %>
    </div>
    
    <div class="col-md-8 offset-md-1">
      <h1>Books</h1>
      <table class="table">
        <thread>
          <tr>
            <th></th>
            <th>Title</th>
            <th>opinion</th>
          </tr>
        </thread>
        
        <tbody>
          <% @books.each do |book| %>
            <tr>
              <td>
                <%= link_to (user_path(book.user_id)) do %>
                  <%= image_tag book.user.get_profile_image(100, 100) %>
              <% end %>
              </td>
              <td>
                <%= link_to (book_path(book.id)) do %>
                  <%= book.title %>
                <% end %>
              </td>
              <td><%= book.body %></td>
                <% if book.user_id == current_user.id %>
              <td>
                <%= link_to 'edit', edit_book_path(book.id), class:"btn btn-success" %>
              </td>
              <td>
                <%= link_to 'destroy', book_path(book), method: :delete, class:"btn btn-danger"%>
              </td>
            <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
      <h2>投稿数の前日比・前週比</h2>
      <table class="table table-bordered">
        <tr>
          <th>今日の投稿数</th>
          <th>昨日の投稿数</th>
          <th>前週比</th>
        </tr>
        <tr>
          <td><%= @today_books.count %></td>
          <td><%= @yesterday_books.count %></td>
          <td>
            <% unless @yesterday_books.count == 0 %>
              <% day_before = @today_books.count / @yesterday_books.count * 100 %>
              <%= day_before.round %>%
            <% else %>
              前日の投稿なし
            <% end %>
          </td>
        </tr>
      </table>
      <table class="table table-bordered">
        <tr>
          <th>今週の投稿数</th>
          <th>先週の投稿数</th>
          <th>前週比</th>
        </tr>
        <tr>
          <td><%= @this_week_books.count %></td>
          <td><%= @last_week_books.count %></td>
          <td>
            <% unless @last_week_books.count == 0 %>
              <% week_before = @this_week_books.count / @last_week_books.count * 100 %>
              <%= week_before.round %>%
            <% else %>
              先週の投稿なし
            <% end %>
          </td>
        </tr>
      </table>
      </div>
      
  </div>
</div>
