<div class="container mt-3">
  
  <%= render 'error_messages', book: @new_book %>
  
  <div class="row">
    <%= render 'new', book: @new_book %>
    
    <div class="col-md-8 offset-md-1">
      <h1>Books</h1>
      <table class="table">
        <thread>
          <tr>
            <th></th>
            <th>Title</th>
            <th>opinion</th>
          </tr>
        </thread>
        
        <tbody>
          <% @books.each do |book| %>
            <tr>
              <td>
                <%= link_to (user_path(book.user_id)) do %>
                  <%= image_tag book.user.get_profile_image(100, 100) %>
                <% end %>
              </td>
              <td>
                <%= link_to (book_path(book.id)) do %>
                <%= book.title %>
                <% end %>
                </td> 
              <td><%= book.body %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      </div>
      
  </div>
</div>

