<div class="container mt-3">
  
  <%= render 'layouts/error_messages', obj: @book %>
  
  <div class="row">
    <div class="col-md-3">
      <h1>User info</h1>
      <%= render 'users/info', user: @book.user %>
      <%= render 'relationships/button', user: @book.user %>
      <%= render 'users/config', user: @book.user %>
      <h1>New book</h1>
      <%= render 'form', book: @new_book %>
    </div>
    
    <div class="col-md-8 offset-md-1">
      <h1>Book detail</h1>
      <table class="table">
        <thread>
          <tr>
            <th></th>
            <th>Title</th>
            <th>opinion</th>
          </tr>
        </thread>
        
        <tbody>
          <tr>
            <td>
              <%= link_to (user_path(@book.user_id)) do %>
                  <%= image_tag @book.user.get_profile_image(100, 100) %></br>
                  <%= @book.user.name %>
              <% end %>
            </td>
            <td>
              <%= link_to (book_path(@book.id)) do %>
                <%= @book.title %></td>
              <% end %>
            <td><%= @book.body %></td>
            <% if @book.user_id == current_user.id %>
              <td>
                <%= link_to 'Edit', edit_book_path(@book.id), class:"btn btn-success" %>
              </td>
              <td>
                <%= link_to 'Destroy', book_path(@book), method: :delete, class:"btn btn-danger"%>
              </td>
            <% end %>
              <td id="favorite_btn_<%= @book.id %>">
                <%= render 'favorites/favorite-btn', book: @book %>
              </td>
              <td>
                コメント数:<%= @book.book_comments.count %>
              </td>
          </tr>
      </tbody>
    </table>
    <%= render 'book_comments/index', book: @book %>
    <%= render 'book_comments/form', book: @book, book_comments: @book_comments %>
    </div>
  </div>
</div>

