<div class="container mt-3">
  
  <%= render 'error_messages', book: @book %>
  
  <div class="row">
    <%= render 'new', book: @new_book %>
    
    <div class="col-7">
      <h1>Books</h1>
      <table class="table">
        <thread>
          <tr>
            <th></th>
            <th>Title</th>
            <th>opinion</th>
          </tr>
        </thread>
        
        <tbody>
          <tr>
            <td>
              <% if @book.image.attached? %>
                <%= image_tag @book.image, size: "100x100" %>
              <% else %>
                <%= image_tag 'no_image', size: "100x100" %>
              <% end %>
            </td>
            <td><%= @book.title %></td>
            <td><%= @book.body %></td>
            <% if @book.user_id == current_user.id %>
              <td>
                <%= link_to 'edit', edit_book_path(@book.id), class:"btn btn-success" %>
              </td>
              <td>
                <%= link_to 'destroy', book_path(@book), method: :delete, class:"btn btn-danger"%>
              </td>
            <% end %>
          </tr>
      </tbody>
    </table>
    </div>
    
  </div>
</div>

