<div class="container mt-3">
  
  <%= render 'layouts/error_messages', obj: @book %>
  
  <div class="row">
    <div class="col-md-3">
      <h1>User info</h1>
      <%= render 'users/info', user: @book.user %>
      
      <h1>New book</h1>
      <%= render 'form', book: @new_book %>
    </div>
    
    <div class="col-md-8 offset-md-1">
      <h1>Book detail</h1>
      <table class="table">
        <thread>
          <tr>
            <th></th>
            <th>Title</th>
            <th>opinion</th>
          </tr>
        </thread>
        
        <tbody>
          <tr>
            <td>
              <%= link_to (user_path(@book.user_id)) do %>
                  <%= image_tag @book.user.get_profile_image(100, 100) %></br>
                  <%= @book.user.name %>
              <% end %>
            </td>
            <td>
              <%= link_to (book_path(@book.id)) do %>
                <%= @book.title %></td>
              <% end %>
            <td><%= @book.body %></td>
            <% if @book.user_id == current_user.id %>
              <td>
                <%= link_to 'Edit', edit_book_path(@book.id), class:"btn btn-success" %>
              </td>
              <td>
                <%= link_to 'Destroy', book_path(@book), method: :delete, class:"btn btn-danger"%>
              </td>
            <% end %>
              <td>
                <% if @book.favorited_by?(current_user) %>
                  <%= link_to book_favorites_path(@book), method: :delete do %>
                  <span class="text-danger">♥<%= @book.favorites.count %></span>
                  <% end %>
                <% else %>
                  <%= link_to book_favorites_path(@book), method: :post do %>
                  <span class="text-primary">♡<%= @book.favorites.count %></span>
                  <% end %>
                <% end %>
              </td>
              <td>
                コメント数:<%= @book.book_comments.count %>
              </td>
          </tr>
      </tbody>
    </table>
    <table>
      <% @book.book_comments.each do |comment| %>
        <tr>
          <td>
            <%= link_to user_path(comment.user_id) do %>
              <%= image_tag comment.user.get_profile_image(100,100) %>
              <p><%= comment.user.name %></p>
            <% end %>
          </td>
          <td><%= comment.comment %></td>
          <td>
            <% if comment.user_id == current_user.id %>
              <%= link_to book_book_comment_path(comment.book, comment), method: :delete do %>
                <div class="btn btn-danger">削除</div>
              <% end %>
            <% end %>
          </td>
        <% end %>
      </tr>
    </table>
    <div>
      <%= form_with model: [@book, @book_comment] do |f| %>
        <div class="form-label">
          <%= f.text_area :comment, rows: '5', class:"form-controll", style:"width:100%" %>
        </div>
        <div><%= f.submit '送信' %></div>
      <% end %>
    </div>
    </div>
    
  </div>
</div>

