<div class="container mt-3">
  
  <%= render 'error_messages', book: @book %>
  
  <div class="row">
    <div class="col-md-3">
      <h1>User info</h1>
      <%= image_tag @book.user.get_profile_image(100, 100) %>
      <table class="table">
        <tr>
          <th>Name</th>
          <td><%= @book.user.name %></td>
        </tr>
        <tr>
          <th>introduction</th>
          <td><%= @book.user.introduction %></td>
        </tr>
         </table>
      
      <div class="w-75">
        <%= link_to (edit_user_path(@book.user.id)), class:"btn btn-outline-secondary btn-block" do %>
          <i class="fas fa-user-cog"></i>
        <% end %>
      </div>
      
      <h1>New book</h1>
      <div class="my-1">
        <%= form_with model: @new_book do |f| %>
        <div class="form-group">
          <div class="form-group-prepend">
            <label>Title</label>
            <div><%= f.text_field :title, class:"form-controll"%></div>
            <label>Opinion</label>
            <div><%= f.text_area :body, class:"form-controll", rows:"3" %></div>
            </div>
            <p><%= f.submit "Create Book", class:"btn btn-success" %></p>
          </div>
          
        <% end %> 
      </div>
    </div>
    
    <div class="col-md-8 offset-md-1">
      <h1>Book detail</h1>
      <table class="table">
        <thread>
          <tr>
            <th></th>
            <th>Title</th>
            <th>opinion</th>
          </tr>
        </thread>
        
        <tbody>
          <tr>
            <td>
              <%= link_to (user_path(@book.user_id)) do %>
                  <%= image_tag @book.user.get_profile_image(100, 100) %></br>
                  <%= @book.user.name %>
              <% end %>
            </td>
            <td>
              <%= link_to (book_path(@book.id)) do %>
                <%= @book.title %></td>
              <% end %>
            <td><%= @book.body %></td>
            <% if @book.user_id == current_user.id %>
              <td>
                <%= link_to 'Edit', edit_book_path(@book.id), class:"btn btn-success" %>
              </td>
              <td>
                <%= link_to 'Destroy', book_path(@book), method: :delete, class:"btn btn-danger"%>
              </td>
            <% end %>
          </tr>
      </tbody>
    </table>
    </div>
    
  </div>
</div>

