<div class="container">
  <div class="row">
    <div class="col-md-5 form-group mt-2 mx-auto">
    <%= form_with url: search_path, method: :get do |f| %>
      <%= f.text_field :word %>
      <%= f.select :range, {"user": "user", "book": "book"} %>
      <%= f.select :condition, {"完全一致": "perfect_match","前方一致": "front_match", "後方一致": "rear_match", "一部一致": "partial_match"} %>
      <%= f.submit 'search', class:"btn btn-success" %>
    <% end %>
  </div>
</div>