<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <% @entries.each do |entry| %>
        <% if current_user.id != entry.user.id %>
            <h2><%= entry.user.name %>さんとのチャット</h2>
        <% end %>
      <% end %>
      <div class="bg-light row">
        <% @messages.each do |message| %>
          <% if message.user == current_user %>
            <div class="text-right card text-white bg-success mb-1 col-10 offset-2">
              <p class="card-header"><%= message.user.name %></p>
              <p class="card-body"><%= message.body %></p>
            </div>
          <% else %>
            <div class="card text-dark bg-light mb-1 col-10">
              <p class="card-header"><%= message.user.name %></p>
              <p class="card-body"><%= message.body %></p>
            </div>
          <% end %>
        <% end %>
      </div>  
      <div class="form-group mx-30">  
        <%= form_with method: @message, url: messages_path do |f| %>
          <%= f.text_field :body, placeholder: "message" %>
          <%= f.hidden_field :room_id, :value => @room.id %>
          <%= f.submit 'send' %>
        <% end %>
      </div>

      
    </div>
  </div>
</div>
